# https://docs.docker.com/engine/reference/builder/#dockerignore-file
# Don't send the following files to the docker daemon as the build context.

.git
.gitattributes
README.md
docker-compose.yml

# Ignore .DS_Store Mac file
.DS_Store
